.text#poem {
    color: black;
    padding-left: 35%;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 14px;
    z-index: 3;
    }


.gray{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.gray:hover {
  color: lightgray;
}

.grow {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s  ease-in-out;
    -ms-transition: all 0.5s  ease-in-out;
    -o-transition: all 0.5s  ease-in-out;
    transition: all 0.5s  ease-in-out;
}

.grow:hover {
    font-size: large;
}


.text :before{
    content: ' ';
    display: block;
    position: absolute;
    left:100px;
    right: 100px;
    bottom: 50px;
    top: 0;
    width: 20%;
    height: 100%;
    z-index: -1;
    opacity: 0.01;
    background-image: url('https://hbr.org/resources/images/article_assets/2016/11/nov16-10-55948705.jpg');
    background-repeat: repeat;
    background-position: 50% 0;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.version{
    font-family: "Inconsolata", monospace;
    text-align: right;
    bottom: 0;
    padding: 0px 60px 0px 0px;
    color: black;
    z-index: 4;
}



/* Menu for the 20 variations of the poem layout */
.pagination {
    display: inline-block;
    padding-top: 15px;
    padding-left: 5%;
    padding-bottom: 15px;
}

.pagination a {
    color: black;
    float: top;
    padding: 16px 16px;
    text-decoration: none;
    transition: background-color .3s;
    font-family: 'Inconsolata', monospace;
}

.pagination a.active {
    background-color: #f9f9f9;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/* Dropdown Button */
.dropbtn {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    position: fixed;
    background-color: white;
    color: black;
    padding-right: 10px;
    top: 50%;
    font-size: 12px;
    border: none;
    cursor: pointer;
    z-index: -1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: fixed;
    height: 100%;
    display: inline-flex;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
}

/* Dropdown Content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10px;
    height: 100%;
    /*padding: padding-top padding-right padding-bottom padding-left*/
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-bottom: 10px;
    padding-top: 30px;
}


/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px 20px 2px 20px;
    text-decoration: none;
    display: block;
    text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: black;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: flex;
    padding-right: 5px;
}

/* Red color of the poem number if that specific version is shown */
.dropdown:hover .active {
    color: red;
}

/*name of poem and poet*/
.cummings {
    font-family: "Inconsolata", monospace;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    position: fixed;
    font-size: 14px;
    top: 350px; left: 150px;
    z-index: 1;
}


/*##############################################*/
/*Right side of page: rules for this version*/

.pagination-rules {
    display: inline-block;
    float:right;
    padding-top: 15px;
    padding-right: 5%;
    padding-bottom: 15px;
    z-index: 3;
}

.pagination-rules a {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    transition: background-color .3s;
    font-family: 'Inconsolata', monospace;
}

.pagination-rules a.active {
    background-color: #f9f9f9;
    color: white;
}

.pagination-rules a:hover:not(.active) {background-color: #ddd;}

/* Dropdown Button */
.dropbtn-rules {
    right: 35px;
    top: 50%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    position: fixed;
    background-color: white;
    color: black;
    font-size: 12px;
    border: none;
    cursor: pointer;
    z-index: -1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-rules {
    right: 0;
    position: fixed;
    height: 100%;
    display: inline;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    z-index: 3;
}

/* Dropdown Content (hidden by default) */
.dropdown-content-rules {
    right:0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    height: 100%;
    width: 300px;
    /*padding: padding-top padding-right padding-bottom padding-left*/
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    padding-bottom: 10px;
    padding-top: 30px;
}


/* Links inside the dropdown */
.dropdown-content-rules a{
    color: black;
    padding: 5px 20px 2px 10px;
    text-decoration: none;
    display: block;
    text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content-rules a:hover {
    color: black;}

/* Show the dropdown menu on hover */
.dropdown-rules:hover .dropdown-content-rules {
    display: flex;
    padding-right: 5px;
}

/* Red color of the poem number if that specific version is shown */
.rule-yes {
    color: red;
}

.pagination-rules #rules-list {
    font-size: 11px;
    padding-right: 20px;
    padding-left: 20px;
}



/*#######################################################*/

